.page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 100%;
}

.alert {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}
