---
import Layout from "@components/layout/Layout.astro";
import Form from "@components/skattekort/Form";
import styles from "./_index.module.css";
---

<Layout>
  <div class={styles.page}>
    <Form client:load />
  </div>
</Layout>
