.bold {
  font-weight: bold;
}

.separator {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.column {
  flex-direction: column;
  display: flex;
}

.column > * + * {
  margin-top: 0.5rem;
}

.hvit_boks {
  background-color: white;
  padding: 1.25rem;
  margin: 1.25rem;
  border-radius: 0.375rem;
}
