.forskuddstrekk__row {
  display: table-row;
}

.forskuddstrekk__normal {
  display: table-cell;
  white-space: nowrap;
}

.forskuddstrekk__bold {
  display: table-cell;
  font-weight: bold;
  white-space: nowrap;
}
