.result {
  background-color: var(--a-surface-subtle);
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.arbeidstaker {
  margin-top: 0.5rem;
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.75rem 1.5rem;
  margin-top: 1rem;
}

.details dt {
  font-weight: 600;
}

.details dd {
  margin: 0;
}

.forskuddstrekkList {
  margin: 0;
  padding-left: 1.5rem;
}
